<!DOCTYPE HTML>
<html>

<head>
	<title>Twitter Sentiment</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Bootstrap Core CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/css/mdb.min.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- //Custom Theme files -->
</head>

<body>
			<!-- Default form login -->
<form method="post" action="/" class="text-center border border-light p-5" style="width:400px;height:350px; margin-left:35%;margin-top:5%">

    <p class="h4 mb-4"><b>Twitter Sentiment Analysis</b></p>

    <div class="md-form form-sm mb-5">
        <input type="text" id="text" class="form-control form-control-sm validate" name="inputer" required>
        <label data-error="wrong" data-success="right" style="font-weight: bold" for="url">Enter the query</label>
    </div>

    <div class="text-center form-sm mt-2">
      <button class="btn btn-info" type="submit" name="search"> Submit <i class="fa fa-search" style="font-size: 15px;"></i></button>
    </div>
</form><br>

<footer style="text-align: center;">
       <b><p> Made with <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i> by </b><a href="https://www.dsilabz.com" target="_blank"><b style="color:red;">Vineet </b><b style="color:gray;">Nayak S</b></a>
</footer>
<!-- Default form login -->
    <!-- js-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- js-->
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.14/js/mdb.min.js"></script>
	<!-- Bootstrap Core JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js">
	</script>
	<!-- //Bootstrap Core JavaScript -->
</body>

</html>
